.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 1rem;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.circle {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.heading {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.info {
  flex-grow: 1;
  padding: 1rem;
  text-align: left;
}

.title {
  margin: 0;
  color: #151515;
}

.description {
  margin: 4px 0;
  color: #151515;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.meta {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: #666;
}
.meta > p {
  margin: 0;
}
.meta p + p {
  margin-top: 12px;
}
.meta p span:nth-child(2) {
  margin-left: 8px;
}

.privacy {
  padding: 4px 8px;
  font-size: 0.75rem;
  border-radius: 4px;
  height: fit-content;
}

.privacyPublic {
  background: #d1f5d3;
  color: #207720;
}

.privacyPrivate {
  background: #fde2e2;
  color: #a40000;
}

.actions {
  display: flex;
  gap: 0.5rem;
}
